body {
    min-width: 350px;
    width: 350px;
    max-width: 350px;
    height: 550px;
    background: #333;
    padding: 0;
    margin: 0;
    font-family: Verdana, sans-serif;
    font-size: 11pt;
    line-height: 170%;
    color: #DDD;
    overflow: hidden;
}

div#title {
    margin: 5px auto 0;
    height: 30px;
    font-size: 15pt;
    text-align: center;
    vertical-align: middle;
    color: #f15501;
}

div#chat-output {
    height: 440px;
    width: 310px;
    max-width: 310px;
    margin: 5px 15px;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    color: #DDD;
}

div#chat-output table {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    border-spacing: 0;
}

div#chat-output table tbody#chat-output-table {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

div#chat-output table tbody#chat-output-table tr {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

div#chat-output table tbody#chat-output-table tr td.line {
    text-align: center;
    vertical-align: middle;
}

div#chat-output table tbody#chat-output-table tr td.user {
    font-style: italic;
    /*font-weight: bold;*/
    width: 86px;
    max-width: 86px;
    min-width: 86px;
    font-size: 10pt;
    padding: 1px 10px 0 0;
    text-align: right;
    vertical-align: top;
}

div#chat-output table tbody#chat-output-table tr td.data {
    width: 199px;
    max-width: 199px;
    min-width: 199px;
    padding: 0 0 0 14px;
    text-align: left;
    vertical-align: middle;
    border: solid #f15501;
    border-width: 0 0 0 1px;
}

input#chat-input {
    padding: 5px 10px;
    vertical-align: middle;
    width: 300px;
    height: 28px;
    font-size: 14pt;
    background: #222;
    border: 0 solid #888;
    color: #CCC;
    margin: 10px 15px;
}

input::-webkit-input-placeholder {
    color: #333;
}

::-webkit-input-placeholder {
    color: #333;
}

hr {
    margin: 18px auto;
    width: 100%;
    border: 0 solid #f15501;
    /*border-top-width: 1px;*/
}