body {
    min-width: 350px;
    max-width: 350px;
    min-height: 550px;
    max-height: 550px;
    width: 350px;
    height: 550px;
    background: #333;
// padding: 0;
// margin: 0;
    font-family: Verdana, sans-serif;
    font-size: 11pt;
    line-height: 100%;
    color: #DDD;
    overflow: hidden;
}

div#title {
    margin: 5px auto 0;
    height: 30px;
    font-size: 15pt;
    text-align: center;
    vertical-align: middle;
    color: #f15501;
}


div#button-bar{
    text-align: right;
}


div#button-bar .button{
    height: 23px;
    width: 23px;
    max-width: 23px;
    max-height: 23px;
}

.chat{
//min-height:24px;
    padding:8px 6px 4px 37px;
    position:relative;
// margin: 0 2px 0px 0;
}

.chat:last-child{
    margin-bottom:0;
}

.chat span{
    color:#EBEBEB;
    font-size:12px;
}

.chat .data{
    word-wrap: break-word;
    margin-left: 6px;
    /* display:inline-block; */
    /* font-size:15px; */
    /* overflow:hidden; */
    /* vertical-align:top; */
    /* width:190px; */
}

.chat .avatar{
    left:7px;
    position:absolute;
    top:7px;
}

.chat img{
    display:block;
    height: 23px;
    width: 23px;
}

.chat .time{
    position:absolute;
    right:4px;
    bottom:2px;
    font-size:8px;
}

.chat .user{
    margin-right:6px;
    text-shadow:1px 1px #aaaaaa;
}

div#chat-output {
    height: 430px;
//   width: 310px;
//  max-width: 310px;
// margin: 5px 15px;
// padding: 5px;
    overflow-x: hidden;
    overflow-y: auto;
}
div#chat-output .message {
    margin: 5px auto 0;
    height: 30px;
    font-size: 12pt;
    text-align: center;
    vertical-align: middle;
}

input#chat-input {
    padding: 2px 10px 2px 10px;
    vertical-align: middle;
    width: 330px;
    height: 28px;
    font-size: 12pt;
    background: #cdcdcd;
    border: 0 solid #888;
    color: #181818;
//margin: 10px 15px;
    position:absolute;
    top:520px;
}

div#typing-notification {
    height: 25px;
    width: 310px;
    max-width: 310px;
    color: #DDD;
// margin: 0px 0px 0px auto;
    font-size: 8pt;
// padding: 0px 0px 0px 0px;
    position:absolute;
    top:500px;
}
input::-webkit-input-placeholder {
    color: #333;
}

::-webkit-input-placeholder {
    color: #333;
}

hr {
    /* margin: 18px auto; */
    width: 100%;
    border: 0 solid #f15501;
    /*border-top-width: 1px;*/
}